@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500;700&family=Noto+Sans+Thai:wght@500;600&display=swap');
ิbody{
    font-family: 'Noto Sans Thai', sans-serif;

}
p{
    margin-top: 0;
    margin-bottom: 2px;
    color: var(--base-text-high, #0F172A);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Head/H5/Bold */
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.content_container{
    display: flex;
    
    height: auto;
}
.img_container{
    /*background-color: yellow;*/
   width: 74px;
   height: 66px;
   border-radius: 4px;
   display: flex;
   align-items: center;
   margin:8px;


}
.res_detail{
    width: 100%;
}
.res_name{
    width: 80%;
    color: #7FCB9B;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 166.667% */
}
.detail_head{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    margin-top: 8px;
    width: 100%;
    flex-wrap: wrap;
}
.price_baht{
    display: flex;
    gap:2px;
    margin-right: 8px;
    align-items: baseline;
    height: 18px;
    align-items: flex-end;
}
.price{
    color: var(--base-text-high, #0F172A);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 12px; /* 100% */
}
.baht{
    color: var(--base-text-high, #0F172A);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 12px;
}
.detail {
    color: #3B82F6;

font-feature-settings: 'clig' off, 'liga' off;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 166.667% */
}
.review{
    color: #000;

font-feature-settings: 'clig' off, 'liga' off;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 160% */

}
.cus_review{
color: #3B82F6;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 166.667% */
}
.review_detail{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 160% */
}
@media (min-width: 800px) {
    .res_name{
        width: 30%;
        max-width: 30%;
        color: #7FCB9B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    }
    .detail_head{
        display: flex;
        justify-content: flex-start;
        flex-direction:row;
        margin-top: 8px;
        width: 100%;
        flex-wrap: wrap;
    }
  }