
.card{
  width: 100%;
}
.card_container{
    background-color: white;  
    position:absolute;
    left:10%;
    top:15%;
    width: 80%;
    max-height: 70%;
    overflow: auto;
}

.container {
  overflow: auto; /* Enable scrolling for overflowing content */
  width: 100vw;
  height: 100vh;
  display: flex;

}

.map-container {
  position: relative;
}

.map{
  width: 900px;
  height: 900px;

}


@media (min-width: 900px) {
  .container {
    overflow: auto; /* Enable scrolling for overflowing content */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');
