
.card{
  width: 100%;
}
.card_container{
    background-color: red;  
    position:absolute;
    left:20%;
    top:30%;
    width: 60%;
    max-height: 50%;
    overflow: auto;
}

.marker{
  position: absolute;
  width: 0.5vw;
  
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.map {
  width: 900px;
  height: 100%;
  object-fit: cover; /* Maintain the image's aspect ratio and fit within the container */
}






