
.card{
  width: 100%;
}
.card_container{
    background-color: white;  

    width: 80%;
    height: 70%;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    max-width: 550px;
    min-width: 300px;
    min-height: 200px;
}

.container {
  overflow: auto; /* Enable scrolling for overflowing content */
  width: 100vw;
  height: 100vh;
  display: flex;

}

.map-container {
  position: relative;
}

.map{
  width: 900px;
  height: 900px;

}
.canteen_loc{
  color: var(--base-text-high, #0F172A);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 200% */
}

@media (min-width: 900px) {
  .logo{
    width: 130px;
    height: 43px;
    position: absolute;
    top: 0px;
    left: 45%;
    background-color:white;
    padding:'12px';
    border-radius:'4px';
    box-shadow: '0px 4px 4px 0px rgba(0, 0, 0, 0.25)';
  }
  .container {
    overflow: auto; /* Enable scrolling for overflowing content */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500;700&family=Noto+Sans+Thai:wght@500;600&display=swap');
ิbody{
    font-family: 'Noto Sans Thai', sans-serif;

}
p{
    margin-top: 0;
    margin-bottom: 2px;
    color: var(--base-text-high, #0F172A);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Head/H5/Bold */
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}